* {
    box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url(Allison-Regular.ttf);
 
}
@font-face {
    font-family: TypeWriter;
    src: url(AmericanTypewriter\ Regular.ttf);
    
  }

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }
header {
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    
}
h1 {
    color: white;
    margin-left: 5em;
    font-family: TypeWriter;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
/* h1::before {
    content: "\"";
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 3em;
    top: -40px;
    left: -35px;
    opacity: 0.7;
   
} */
h1 span {
    font-size: 0.6em;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(75, 75, 75, 0.5);
}
  .card {
    width: 80%;
    max-width: 700px;
    color: white;
   margin: auto;
   
  }
  .card-body {
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.297);
    margin-bottom: 1em;
    border-radius: 20px;
    background-color: rgba(64, 83, 85, 0.85);
    
  }
  
 .blockquote p {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: TypeWriter;
    border-left: 3px solid cadetblue;
    padding-left: 0.6em;
    line-height: 1.5em;
   
 }
 .blockquote-footer cite {
     font-family: myFont;
     font-size: 2em;
     letter-spacing: 1px;
 }
  .card-footer {
      text-align: center;
  }

.btn-primary {
    background-color: cadetblue;
    color: rgb(242, 242, 242);
    border-radius: 100px 100px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: 1px solid rgb(65, 88, 92);
    font-weight: lighter;
    transition: background-color 200ms ease;
    margin-top: 1em;
    font-family: TypeWriter;
    letter-spacing: 1px;
}
.btn-primary:hover {
    background-color: rgb(82, 135, 136);
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(50, 68, 69);
    display: flex;
   align-items: flex-end;
   justify-content: center;
}
.footer p {
    margin-bottom: 2em;
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: TypeWriter;
    letter-spacing: 1px;
    
}

@media only screen and (max-width: 500px) {
    h1 {
        margin-left: 1em;
    }
    .blockquote {
        margin: 0.5em;
    }
    .blockquote p {
      font-size: 1.2em;
    }
  }