@font-face {
  font-family: spartan;
  src: url(LeagueSpartan-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #023157;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  margin-left: 1em;
  padding-top: 0.5em;
}
.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav {
  height: 100%;
  background-color: #023157;
  flex-direction: row;
  margin-right: 1em;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  padding: 1em;
}
nav ul a:hover {
  position: relative;
}
nav ul a:hover::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: #fff;
  margin-top: 0.5em;
  position: absolute;
  left: 15%;
}
.main-section {
  background-color: #023157;
  width: 100%;
  height: 767px;
  background-image: url("campShalomBG.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  position: relative;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.main-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.8);
}
.main-section h1 {
  font-size: 5.5em;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
  font-family: spartan;
  z-index: 1;
}
.main-section h2 {
  font-size: 3em;
  color: #fbe99e;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 1.4em;
  z-index: 1;
  font-family: spartan;
}
.main-section p {
  margin-top: 2em;
  font-weight: bold;

  z-index: 1;
}
.main-p {
  color: #fbe99e;
  line-height: 1.7em;
  font-size: 1.3em;
  margin-bottom: 1.8em;
  max-width: 65%;
  text-align: justify;
}
.location-p {
  color: white;
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;
}
.main-section .rocks {
  color: #fbe99e;
  font-size: 2.5em;
  font-family: spartan;
  margin-top: 2em;
}
.sponsor-sec {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.sponsor-sec p {
  color: #333;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
}
.sponsor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 2em;
}
.sponsor-container img:first-child {
  width: 250px;
}
.sponsor-container img:last-child {
  width: 300px;
}
footer {
  background-color: #023157;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
