* {
    font-family: myFirstFont;
    box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(Rajdhani-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: myFirstFont;
  src: url(Rajdhani-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: myFirstFont;
  src: url(Rajdhani-Regular.ttf);
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
 
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
   
   
}

/* ========================================
          HERO SECTION 
   ======================================== */
#page {
    display: grid;
    width: 100%;
    
    grid-template:  "... logo menu ..."  100px
                    "... main main ..." auto;

  /* grid-template: 20% / 1fr 1fr; */

   /* background: linear-gradient(#356872, #4D7F89); */
   /* background: linear-gradient(to bottom, #406e76, #4D7F89); */
   position: relative;
   /* z-index: 0;       */
   overflow: hidden;
  background-image: url(rvnJ.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top; 
  background-blend-mode: overlay;   
  /* background-attachment: fixed;   */
  /* position:sticky;
  top: 0; */
  
  }
  #page.light {
    /* background: linear-gradient(to bottom, #406e76, #4D7F89); */
   background-color: #406e76;
    /* background-color: #ac5b50; */
    transition: background-color 1.5s ease;
  }
  #page.dark {
   
    /* background-color: linear-gradient(to bottom, rgba(36, 36, 36), rgb(50, 50, 50)); */
    background-color: rgb(42, 42, 42);
    transition: background-color 1.5s ease;
    color: rgb(220, 220, 220);
    
  }
  
  /* ========================================
          HERO DARK SLIDE ANIMATION 
   ======================================== */
/*
  #page::after {
    content: "Welcome to Raven Digital";
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: 4em;
    padding-top: 20%;
    font-weight: 100;
    
  
    background: url(image.png);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size:22%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: rgb(28, 28, 28);
    animation: slideOut ease-in 1200ms 2s forwards;
  
    
    z-index: 1;   
 
  }
  @keyframes slideOut {
    0% {
      
      opacity: 1;
      
    }
    20% {
      color: rgb(118, 118, 118);
      
      
    }
    40% {
      color: rgb(74, 74, 74);
     
    }
    60% {
      color: rgb(40, 40, 40);
      
    }
    100% {
      transform: translateY(100%);
      opacity: 0.9;
      color: rgb(40, 40, 40);
      
      font-size: 0px;
    }
    
  }
    
*/

  /* ========================================
          LOGO TOP LEFT
   ======================================== */
  
   .logo {
   
    color: white;
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  margin-left: -3vw;
    
}

.logo-container {
/* background-color: #b65e53; */
display: flex;

z-index: 1; 
height: auto;


}

.logo img {
width: 45px;
height: 45px;
margin: auto;
/* position: absolute; */
opacity: .7;
/* filter:drop-shadow(8px 8px 5px 5px rgb(84, 84, 8s4)); */
margin-right: 10px;
border: 1px solid rgba(199, 199, 199, 0.6);
border-radius: 50%;
position: relative;
z-index: 1;
transform: rotateY(180deg);
}


.logo p {
   position: relative;
    margin: auto;
    letter-spacing: 1.5px;
    position: relative;
    font-weight: 200;
    font-size: 22px;
   padding: 5px; 
   transform: translateY(-100px);
   animation: logoSlide 1s ease-out forwards 3.5s;
}
.logo p::after{
  content: "";
  border-top: 1px solid white;
  height: 1px;
  width: 20%;
  display: block;
  
  transition: transform 400ms ease-in;
  
  
}

.logo p span {
transition: color 400ms ease-in;
}

.logo p:hover span {
color: rgb(223, 116, 116);
}


.logo p:hover::after {
  transform: translateX(100px);
  
}


@keyframes logoSlide { 
  100% {
    transform: translateY(0);
  }
  
}
/* ========================================
          NAV AT TOP
   ======================================== */
a {
  text-decoration: none;
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
    /* font-weight: 100; */
    margin-right: 30px;
    font-size: 20px;
  
    position: relative;
    transition: color 300ms ease-in;
}

nav a::after {
  content: "";
  border-top: 1px solid white;
  height: 1px;
  width: 30%;
  position: absolute;
 
  transition: transform 300ms ease-in;
  display: inline-block;
  right: 69%;
  bottom: -2px;
  
}

nav a:nth-child(3) {
  margin-right: 0;
}

.nav{
  grid-area: menu;
  position: relative;
  display: flex;
  margin-right: -3vw;
}
  nav {  
      
      color: white;
      letter-spacing: 1px;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      
  }
  nav a:hover {
      /* color:rgb(240, 208, 79) */
      color: rgb(223, 116, 116);
  }
   
 nav a:hover::after {
    transform: translateX(220%);
  }

  .menu {
    margin-top: 2px;
  }
.ham-menu {
  font-size: 30px;
  display: none;

}

/* ============== tgl switch  
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.5);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #da7761;
}

input:focus + .slider {
  box-shadow: 0 0 1px #da7761;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tgl2 {
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* left: 30%;
  top: 37px; */
  opacity: 0.5;
  transition: opacity 100ms ease-in;
}
.tgl2:hover {
  opacity: .8;
}
.tgl2 img {
  margin-right: -10px;
  width: 23px;
  height: 23px;
  filter: brightness(40);
}




@keyframes slide {
  0% {
    transform: translateX(120px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
  
}


 

  /* .ham-menu {
    position: relative;
    border-bottom: 1px solid white;
    width: 1.75em;
    height: 5px;
    top: 8px;
  }
  .ham-menu::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    border-top: 1px solid white;
  }
  .ham-menu::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0px;
    width: 100%;
    border-top: 1px solid white;
  }

  .ham-menu:hover, .ham-menu:hover:before, .ham-menu:hover:after {
    cursor: pointer;

  } */


  /* ========================================
          HERO MAIN GRID AREA 
   ======================================== */
  main {
    /* position: relative; */
     grid-area: main;
     /* z-index: 1; */
   
     margin: auto;
     
   }
   #m {
    display: inline-flex;
   margin-left: -25vw;
    transform: translateY(-20px);
  
}
   #m img {
    width: 35em;
    /* max-height: 700px; */
    transform: rotate(17deg);
    margin-left: auto;
    min-width: 500px;
    
  
    
}

  .title-container {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  margin-left: -90px;
  
  }
  h1 {
      margin: 0;
      color: rgb(245, 245, 245);
      font-size: 5em;
      line-height: 95%;
       margin-left: -5px; 
     margin-top: -1rem;
     
    
  }
  main h2 {
    margin-top: 0.3em;
    color: rgb(230, 230, 230);
    font-size: 1.75em;
    min-width: 30ch;
    opacity: 0;
    /* margin-left: -90px; */
    
    font-weight: 100;
    position: relative;
    animation: slide 1200ms ease-out 4500ms forwards;
}


 

/* ========================================
          SECTION 2 
   ======================================== */


#sec2 {
  display: grid;
 
  width: 100%;
  /* height: 1fr; */
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;   
 
position: relative;
z-index: 1;  
overflow: hidden;
min-height: 500px;
     
}

#sec2::before{ 
  content: '';
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  
  
}
#sec2.dark::before {
  opacity: 0;
}
#sec2.light::before {
  opacity: 1;
}
#sec2.dark {
  background-color: rgb(45, 64, 75);
  color: rgba(227, 227, 227, 0.9);
  transition: background-color 1.2s ease;
}
#sec2.light {
  background-color: rgb(235, 235, 235);
  transition: background-color 1.2s ease;
  
}

.laptop-div {
  display: flex;
  margin: auto;
  width: 80%;
  grid-column: 3/5;
  }
.laptop {
  width: 100%;
  max-width: 32em;
  transform: rotate(10deg);
  /* min-width: 30em;
  max-width: 60% */
   
}

.right-sec2 {
  grid-column: 2/3;
display: flex;
flex-direction: column;
  margin: auto;
  font-family: myFirstFont;
  font-size: 22px;
  width: 60%;
  line-height: 1.5em;
  font-weight: 100;
  min-width: 400px;
  z-index: 1;

}

.right-sec2 p {
margin-top: 0px;
}
  button {
      background-color: #b65e53; /* rgb(191, 68, 47); */
      color: white;
      width: 130px;
      padding: 12px;
      border-radius: 50px;
      font-size: 19px;
      border: none;
      font-weight:100;
      cursor: pointer;
      z-index: 5;
      transition: transform ease-in 150ms, background-color ease-in 200ms;
      
  }

  button:hover {
    background-color: rgb(154, 69, 54);
    transform: scale(1.05);
    
  }


  /* ========================================
          SECTION 3 ICON CARDS
   ======================================== */
  #sec3 {   
     
     z-index: 1;
     position: relative;
     overflow: hidden;
    
    
  }
  #sec3.dark {
    background-color: rgb(69, 86, 97);
    color: rgba(227, 227, 227, 0.9);
    transition: background-color 1.2s ease;
  }
  #sec3.light {
    background-color: rgb(223, 223, 223);
    transition: background-color 1.2s ease;
    color: rgba(24, 24, 24, 0.9);
  }
  .cards {
    display: flex;
    column-gap: 4em;
    /* padding-left: 7em;
    padding-right: 7em; */
    padding-top: 65px;
    padding-bottom: 70px;
    /* justify-content: center; */
    max-width: 1000px;
    margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
      
  }
  .cards > * {
    font-size: 24px;
    text-align: center;
    width: 90%;
    font-weight: normal;
    margin: 1.2em auto;
  }
  
  
.card2 img, 
.card3 img,
.card1 img {
  width: 5em;
  margin-top: 1em;
  
}
.card1, .card2, .card3 {
  transition: transform 300ms ease, background-color 300ms ease;
  /* background-color: rgba(127, 147, 154, 0.728); */
  box-shadow: 7px 9px 10px 2px rgba(62, 62, 62, 0.2);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.132);
  position: relative;
  max-width: 12em;
  opacity: 0.9;
  background-color: rgba(103, 103, 103, 0.2);
 
}
.card1::before, .card2::before, .card3::before {
  content: "";
  position: absolute;
  background: linear-gradient(to left, rgba(65, 65, 65, 0.1), rgba(131, 141, 145, 0.05));
  top: -1px;
  right: -2px;
  bottom: 0;
  left: 0;
  clip-path: polygon(56% 0, 100% 0, 100% 100%, 32% 100%);
  border: 1px solid rgba(50, 50, 50, 0.35);
  border-radius: 25px;
  opacity: 0.8;
 
 
}
  #sec3 img {
      /* width: 6em; */
      padding: 10px;
      transition: transform 300ms ease;
      z-index: 1;
      position: relative;
  }
  /* make the first icon a bit bigger */
  /* .card1 img {
    width: 7em;
    
  } */
  .card1 img:hover, .card2 img:hover, .card3 img:hover {
    
    transform: scale(1.1);
    border-radius: 1em;
    /* box-shadow: 5px 5px 10px 1px rgb(191, 191, 191); */
  }
  
  .cards p.title {
    /* margin-bottom: 0.5em;
    margin-top: 1.5em; */
    position: absolute;
    font-size: 1.7em;
    top:-70px;
    right: 60px;
    min-width: 15ch;
    font-weight: bold;
  
  }
  .card1 p.title {
    transform: translateX(40px);
  }

  p.more-info {
      width: 23ch;
      margin: auto;
      padding: 10px;
     font-weight: normal;
      font-size: 21px;
      line-height: 1.6em;
      padding-bottom: 1.5em;
    
  }
/* ========================================
          SECTION CODERS IMAGE
   ======================================== */
   .coders2 {
    background-color: rgb(201, 201, 201);
    height: 500px;
    position: relative;
    
   }
   .code-langs {
     margin: auto;
     width: 90%;
     height: 50%;
     
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    padding-left: 10em;
    padding-right: 10em;
   }
   .html-img, .css-img, .js-img {
     text-align: center;
     width: 100%;
     margin-top: 4em;
     max-width: 400px;
     
   }
   .js-img img {
     transform: scale(1.2);
     padding-top: 5px;
   }
   .code-langs img {
     width: 40%;
     min-width: 100px;
    opacity: 0.9;
    filter: grayscale(50%);

   }

   .code-builders {
    margin: auto;
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4em;
    padding-right: 5em;
    
   
  }
 
  .wp-img, .webflow-img, .sqrspc-img, .bubble-img {
    text-align: center;
    width: 50%;
    
    min-width: 20%;
    transition: transform 1s linear;
    
  }
  
  

  .code-builders img {
    min-width: 150px;
    width: 40%;
   opacity: 0.9;
   filter: grayscale(50%);
  }
  .wp-img img {
    width: 70%;
  }
 .webflow-img img {
   width: 70%;
 }
 .sqrspc-img img {
   width: 50%;
 }
 .bubble-img img{
   width: 80%;
 }


  .coders2.light::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 131, 131, 0);
    z-index: 1;
  }
  .coders2.dark::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.2);
    z-index: 1;
  }



 /* ========================================
          SECTION 4 
   ======================================== */

#sec4 {
  position: sticky;
    top: 0;
}
#section4 {
    position: relative;
    background-image: url("bgLaptops2.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 500ms ease;
    
  
}

/* dark overlay to bg image */
#section4::before {  
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(57, 57, 57, 0.8);
    transition: opacity 500ms ease;
    opacity: 1;
    
   
}

.text {
    position: relative;
    color: white;
    text-align: center;
    font-size: 28px;
    line-height: 2em;
    font-weight: 100;
    width: 35ch;
    letter-spacing: 1px;
    margin-top: 0;
    
}

#section4 button {
    position: relative;
    
}

#in {  
    text-align: center;
    
}

.fade-in {
  opacity: 0;
  transition: opacity 1500ms ease;
}

.fade-in.appear {
  opacity: 1;
}



/* ========================================
          SECTION 5 GALLERY
   ======================================== */

#sec5 {
   
    /* position: relative; */
    scroll-margin-top: 5em;
    background: rgb(242, 242, 242);
    padding-top: 7em;
    padding-bottom: 4em;
    z-index: 2;
    position: relative;
   
}
#sec5.dark {
  background-color: rgb(69, 86, 97);
  
  transition: background-color 1.2s ease;
}
#sec5.light {
  background-color: rgb(232, 232, 232);
  transition: background-color 1.2s ease;
  
}

#sec5.dark .gal-img::before {
  background-color: rgb(40, 40, 40);
}

#sec5.dark img {
   /* offset-x | offset-y | blur-radius | spread-radius | color */
   box-shadow: 5px 5px 10px 1px rgb(63, 63, 63);
  
}
#sec5.light img {
   /* offset-x | offset-y | blur-radius | spread-radius | color */
   box-shadow: 5px 5px 10px 1px rgb(191, 191, 191);

}
.gal {
  
    display: flex;
    justify-content: center;
   
   align-items: center;
   padding-bottom: 2em;
}

.gal img {
    width:28vw;
   
   
   margin: 0;
   padding: 0;
   
}

.gal-img {
  position: relative;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.4em;
 display: flex;
 justify-content: center;
 
 align-items: center;

 transition: transform 400ms ease;
}

.gal-img::before {
  content: "";
  background-color: #235761;
  width: 0%;
  height: 0%;
  position: absolute; 
  opacity: 0;
  

  transition: opacity 500ms, width 500ms;
}
.gal-img:hover::before {
  
opacity: .7;
width: 100%; 
height: 100%;
}

.gal-img p {
  color: rgb(235, 235, 235);
  position: absolute;
  justify-content: center;
  opacity: 0;
  transition: opacity 700ms, transform 700ms;
  font-size: 1.4em;
  transform: translateY(30px);
}
.gal-img:hover > p {
  transform: translateY(0px);
  opacity: 1;
}

/* ========================================
          SECTION CONTACT
   ======================================== */


.contact {
  height: 650px;
  background-color: rgb(52, 52, 52, 1);
  background-image: url(contactBg.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* filter: opacity(95%); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  
}
.contact > h2 {
  width: 10ch;
  min-width: 10ch;
  color: rgb(230, 230, 230);
  font-size: 5em;
  text-align: right;
  margin-top: -3em;
  margin-right: -0.3em;
  font-weight: bold;
  line-height: 1em;
  z-index: 1;
  position: relative;
}

.contact > h2::before {

  content: "Tel 720.400.0403";
  color: rgb(227, 227, 227);
  font-size: 0rem;
  text-align: center;
  font-weight: normal;
  width: 0;
  height: 77px;
  background-color: rgba(36, 36, 36, 0.5);
  position: absolute;
  top: 180px;
  left: 100px;
  border-radius: 10px;
  border: 1px solid rgba(92, 92, 92, 0.5);
  opacity: 0;
  
  transition: opacity 300ms ease-in, 
    width 300ms ease-in,
    transform 300ms ease-in, 
    font-size 300ms ease-in;
}
.contact > h2:hover::before {
   width: 200px;
  
  opacity: 1;
  font-size: 1.3rem;
  

}
.contact > h2::after {
  content: "";
  border-top: 2px solid rgb(238, 238, 238);
  height: 1px;
  width: 20%;
  position: absolute;
 
  transition: transform 300ms ease-in, border-top 300ms ease-in;
  display: inline-block;
  right: 65%;
  bottom: 0px;
  
}
.contact > h2:hover::after {
  transform: translateX(320%);
  border-top: 2px solid #b8655a;
}
.contact-container {
  width: 500px;
  height: 500px;
  background-color: rgba(36, 36, 36, 0.6);
  border-radius: 5%;
border: 1px solid rgba(92, 92, 92, 0.5);

}

.contact-container h2 {
  
  color: white;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 2.9em;
}

.input-box {
  
  width: 75%;
  height: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 30px;
  justify-content: center;
  
}

.input-box input {
  background-color: rgb(230, 230, 230);
}
/* ------------------------------------
   --------Custom Select Box ---------*/ 

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(34, 34, 34) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(33, 33, 33) transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #181818;
  padding: 8px 6px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgb(225, 225, 225);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}





#comments {
  width: 100%;
  grid-column: span 2;
  margin-left: 0;
}
.input-box button {
  margin: auto;
  /* margin-right: 0; */
  grid-column: span 2;
  
}
input, select {
  margin: auto;
  height: 40px;
  font-size: 1em;
  width: 100%;
  padding-left: 5px;
}
input:focus {
  background-color: rgb(208, 163, 160);
}

/* ========================================
          FOOTER SECTION
   ======================================== */

/* footer */
footer {
    height: auto;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}


footer p {
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.2em;
}

footer .bottom {
    text-align: center;
    /* position: absolute; */
   margin-bottom: 10px;
   display: flex;
   justify-content: space-around;
}
footer .top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: auto;
  text-align: center;
}
footer div img {
  width: 2.5em;
  padding-top: 2em;
}

/* ========================================
          RESPONSIVE MEDIA QUERY
   ======================================== */

@media only screen and (max-width: 850px) {
  nav a:not(:nth-child(1)){
    display: none;
  }

  .tgl2 {
    margin-right: 2em;
  }
 .ham-menu {
  
    display: inline-block; 
    opacity: 0.75;
    margin-top: -5px;
  }
  nav a {
    margin-right: 0;
  }
  nav a::after{
    left: 2px;
    
  }
  

  main img {
    display: none;
  }
  main .title-container {
    margin: 0;
    margin-left: 20%;
    margin-top: 7em;
    margin-bottom: 3em;   
  }

  .laptop {
    display: none;
  }

  #sec2 {
    /* grid-template-columns: 1fr; */
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    align-content: center;
    background-image: url(laptop.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
  }

  .right-sec2 {
    align-items: center;
    min-width: 100%;
    grid-column: 2 / 4;
    
  }
  .right-sec2 p {
    width: 90%;
    max-width: 40ch;
    
  }

  #sec3 .cards {
    flex-direction: column;
  }
  .coders {
    text-align: center;
  }
  .code-langs {
    padding-left: 5em;
    padding-right: 5em;
    
    
  }
  
  #sec4, #section4 {
    height: 80vw;
  }
  #sec4 p {
    font-size: clamp(1em,4vw,2em);
  }
  #sec5 > div{
    flex-direction: column;
  }
  .gal-img img {
    width: 80%;
    max-width: 500px;
  }
  .gal-img:hover:before {
    width: 80%;
    max-width: 500px;
  }

 .contact {
   flex-direction: column;
 }
 .contact > h2 {
   margin: 0;
   margin-top: -0.5em;
   transform: translateY(35%);
   text-align: center;
   font-size: clamp(3em, 14vw, 5em);
 }

 .contact > h2::before {
   display: none;
 }
 .contact-container {
   width: 100%;
   max-width: 500px;
 }

 footer {
height: 200px;
 }
.bottom {
  height: 50%;
  flex-direction: column;
  padding-top: 1em;
  
}
.bottom p {
  margin: 0;
}
}

